# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d/
*.tfplan

# Build
.build/

# Node
src/upload/node_modules/
src/crop/node_modules/
src/upload/package-lock.json
src/crop/package-lock.json

# OS
.DS_Store
Thumbs.db